# Analysing the Airline Passenger Satisfactory Dataset using Numpy & Pandas

### Sumit Trivedi -- K00302092

#### Dataset link: https://www.kaggle.com/datasets/brsahan/e-commerce-dataset

## TASK 3

#### First step is to import pandas and numpy library

In [4]:
import pandas as pd
import numpy as np
import time

#### Using the read_csv Function to read the Dataset.

In [6]:
start = time.time() #starting time function

data = pd.read_csv('realistic_e_commerce_sales_data.csv') #reading csv and storing it as data

duration = time.time() - start #calculating the duration
print("\n""RunTime: ",duration) #printing duration

RunTime:  0.01874709129333496

#### Now we will be printing the first 5 rows of our data.

In [7]:
data.head(5)

,Customer ID,Gender,Region,Age,Product Name,Category,Unit Price,Quantity,Total Price,Shipping Fee,Shipping Status,Order Date
0,CUST0268,Male,North,NaN,Monitor,Electronics,300.0,5,1500,13.31,Returned,2023-12-08
1,CUST0046,Male,West,22.0,Headphones,Accessories,100.0,2,200,6.93,In Transit,2023-04-09
2,CUST0169,Female,South,54.0,Monitor,Electronics,300.0,1,300,11.31,Returned,2023-08-28
3,CUST0002,Male,North,23.0,Headphones,Accessories,100.0,5,500,12.22,Delivered,2023-01-18
4,CUST0173,Female,South,NaN,Laptop,Electronics,1500.0,3,4500,5.40,Delivered,2023-01-19

Checking the datatype of loaded dataset.

In [8]:
type(data)

pandas.core.frame.DataFrame

#### Length of dataset or no of columns

In [9]:
data.shape[1]

12

#### Length of data or no of rows

In [10]:
len(data)

1000

Reading the first element in our dataset.

In [11]:
data["id"]

KeyError: 'id'

#### Printing our dataset

In [12]:
data

,Customer ID,Gender,Region,Age,Product Name,Category,Unit Price,Quantity,Total Price,Shipping Fee,Shipping Status,Order Date
0,CUST0268,Male,North,NaN,Monitor,Electronics,300.0,5,1500,13.31,Returned,2023-12-08
1,CUST0046,Male,West,22.0,Headphones,Accessories,100.0,2,200,6.93,In Transit,2023-04-09
2,CUST0169,Female,South,54.0,Monitor,Electronics,300.0,1,300,11.31,Returned,2023-08-28
3,CUST0002,Male,North,23.0,Headphones,Accessories,100.0,5,500,12.22,Delivered,2023-01-18
4,CUST0173,Female,South,NaN,Laptop,Electronics,1500.0,3,4500,5.40,Delivered,2023-01-19
...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST0201,Female,South,49.0,Headphones,Accessories,100.0,1,100,17.21,In Transit,2023-01-05
996,CUST0133,Male,East,47.0,Laptop,Electronics,1500.0,1,1500,19.19,Delivered,2023-04-01
997,CUST0055,Female,North,NaN,Mouse,Accessories,30.0,5,150,19.35,Delivered,2023-10-20
998,CUST0023,Female,South,29.0,Laptop,Electronics,1500.0,5,7500,10.36,Returned,2023-01-07
999,CUST0040,Male,NaN,29.0,Smartwatch,Wearables,200.0,1,200,7.53,Delivered,2023-01-30

#### Number of Rows in the dataset

In [13]:
Total_Number_of_Rows = len(data)

print("Total Number of Rows :- ", Total_Number_of_Rows)

Total Number of Rows :-  1000

#### Number of Columns in the dataset

In [14]:
Total_Number_of_Column = data.shape[1]

print("Total Number of Columns :- " , Total_Number_of_Column)

Total Number of Columns :-  12

#### Column names are :

In [15]:
data.columns

Index(['Customer ID', 'Gender', 'Region', 'Age', 'Product Name', 'Category',
       'Unit Price', 'Quantity', 'Total Price', 'Shipping Fee',
       'Shipping Status', 'Order Date'],
      dtype='object')

If the first column name is blank then the column name will be assigned as Index

In [16]:
renamed_data = data.rename(columns ={'Unnamed: 0' : 'Index'})

renamed_data.columns

Index(['Customer ID', 'Gender', 'Region', 'Age', 'Product Name', 'Category',
       'Unit Price', 'Quantity', 'Total Price', 'Shipping Fee',
       'Shipping Status', 'Order Date'],
      dtype='object')

#### Checking the datatype of values in columns

In [17]:
renamed_data.dtypes

Customer ID         object
Gender              object
Region              object
Age                float64
Product Name        object
Category            object
Unit Price         float64
Quantity             int64
Total Price          int64
Shipping Fee       float64
Shipping Status     object
Order Date          object
dtype: object

#### Checking for missing values

In [18]:
renamed_data.isna().sum()

Customer ID          0
Gender               0
Region              50
Age                100
Product Name         0
Category             0
Unit Price           0
Quantity             0
Total Price          0
Shipping Fee         0
Shipping Status     50
Order Date           0
dtype: int64

#### Replacing the missing values with zero.

In [19]:
dataset_new = renamed_data.fillna(value = 0)

#### Validating

In [20]:
dataset_new.isna().sum()

Customer ID        0
Gender             0
Region             0
Age                0
Product Name       0
Category           0
Unit Price         0
Quantity           0
Total Price        0
Shipping Fee       0
Shipping Status    0
Order Date         0
dtype: int64

### Deep Dive Into Summary Statistics

##### .describe() gives the summary stats of the dataset i.e total count, mean, stadard deviation , minimum value , maximum value, and percentile values as well.
##### making it easier for us to analyse the dataset.

In [21]:
dataset_new.describe()

               Age   Unit Price     Quantity  Total Price  Shipping Fee
count  1000.000000  1000.000000  1000.000000  1000.000000   1000.000000
mean     42.026000   457.703777     3.008000  1346.600000     12.416390
std      19.980604   537.231434     1.404246  1834.037877      4.412185
min       0.000000    30.000000     1.000000    30.000000      5.000000
25%      29.000000    50.000000     2.000000   200.000000      8.560000
50%      45.000000   200.000000     3.000000   600.000000     12.315000
75%      58.000000   800.000000     4.000000  1500.000000     16.075000
max      69.000000  3109.560612     5.000000  7500.000000     19.980000

##### Printing the Unique values their,  count and mode for each column in our dataset.

In [22]:
columnnames = list(renamed_data.columns) # Get the column names of the DataFrame


for column in columnnames: # Loop through each column to calculate unique value counts only for numeric columns
   
    if "id" in column.lower() or "index" in column.lower(): # Skip columns containing 'id' or 'index' in the name
        continue
    
    
    if renamed_data[column].dtype in ['int64', 'float64', 'object']:# Check if the column is of type int or float
        
        unique_values = dataset_new[column].unique()
        
        frequency_counts = renamed_data[column].value_counts() # Get the frequency counts of unique values in the numeric column
        
        column_mode = list(renamed_data[column].mode())
        
        
        print("Unique values in column " ,  column , " : ",  unique_values, "\n")
        
        print("Frequency counts for column ",  column , ":")# Print the frequency counts for the current column
        print(dict(frequency_counts), "\n")
        
        
        print("Mode of the" , column,  "is",column_mode , "\n", "\n")

Unique values in column  Gender  :  ['Male' 'Female']

Frequency counts for column  Gender :
{'Male': 524, 'Female': 476}

Mode of the Gender is ['Male']


Unique values in column  Region  :  ['North' 'West' 'South' 'East' 0]

Frequency counts for column  Region :
{'West': 246, 'South': 244, 'East': 231, 'North': 229}

Mode of the Region is ['West']


Unique values in column  Age  :  [ 0. 22. 54. 23. 64. 27. 18. 29. 49. 67. 41. 60. 66. 36. 57. 30. 32. 59.
 37. 52. 58. 25. 31. 28. 53. 35. 43. 61. 19. 38. 44. 68. 42. 51. 46. 62.
 33. 24. 21. 50. 48. 63. 47. 45. 40. 55. 69. 26. 20. 65. 39. 56. 34.]

Frequency counts for column  Age :
{66.0: 38, 57.0: 34, 54.0: 33, 67.0: 31, 64.0: 30, 58.0: 27, 44.0: 25, 68.0: 25, 41.0: 25, 51.0: 24, 37.0: 23, 50.0: 23, 38.0: 23, 69.0: 22, 52.0: 21, 30.0: 21, 61.0: 20, 33.0: 18, 49.0: 18, 29.0: 18, 18.0: 18, 26.0: 17, 55.0: 17, 63.0: 17, 32.0: 16, 46.0: 16, 53.0: 16, 42.0: 16, 40.0: 15, 19.0: 15, 27.0: 15, 65.0: 14, 25.0: 14, 59.0: 14, 60.0: 14, 56.0: 14, 20.0: 13, 35.0: 13, 36.0: 13, 23.0: 13, 21.0: 12, 45.0: 11, 22.0: 11, 43.0: 11, 39.0: 10, 47.0: 9, 48.0: 9, 62.0: 9, 28.0: 8, 34.0: 5, 31.0: 4, 24.0: 2}

Mode of the Age is [66.0]


Unique values in column  Product Name  :  ['Monitor' 'Headphones' 'Laptop' 'Smartwatch' 'Keyboard' 'Mouse'
 'Smartphone']

Frequency counts for column  Product Name :
{'Monitor': 181, 'Laptop': 154, 'Keyboard': 145, 'Smartphone': 142, 'Mouse': 136, 'Smartwatch': 122, 'Headphones': 120}

Mode of the Product Name is ['Monitor']


Unique values in column  Category  :  ['Electronics' 'Accessories' 'Wearables']

Frequency counts for column  Category :
{'Electronics': 477, 'Accessories': 401, 'Wearables': 122}

Mode of the Category is ['Electronics']


Unique values in column  Unit Price  :  [ 300.          100.         1500.          200.           50.
   30.          800.         1658.43232666   62.19121225  103.65202042
  621.9121225   207.30404083 3109.56061249]

Frequency counts for column  Unit Price :
{300.0: 176, 1500.0: 150, 50.0: 143, 800.0: 139, 30.0: 132, 200.0: 122, 100.0: 118, 621.9121224973303: 5, 62.19121224973304: 4, 3109.560612486652: 4, 1658.4323266595477: 3, 103.65202041622172: 2, 207.30404083244343: 2}

Mode of the Unit Price is [300.0]


Unique values in column  Quantity  :  [5 2 1 3 4]

Frequency counts for column  Quantity :
{3: 212, 4: 201, 5: 197, 1: 197, 2: 193}

Mode of the Quantity is [3]


Unique values in column  Total Price  :  [1500  200  300  500 4500  400  100   30   90  250  600 6000 1600 1000
 1200 4000 3200   50  800  150  900 3000 7500   60  120 2400]

Frequency counts for column  Total Price :
{200: 90, 300: 70, 600: 69, 1500: 58, 150: 55, 800: 47, 400: 44, 100: 42, 900: 39, 1200: 36, 7500: 33, 90: 32, 4000: 32, 3200: 32, 6000: 31, 250: 29, 3000: 29, 4500: 28, 30: 28, 60: 27, 1000: 26, 500: 26, 2400: 26, 50: 24, 1600: 24, 120: 23}

Mode of the Total Price is [200]


Unique values in column  Shipping Fee  :  [13.31  6.93 11.31 12.22  5.4  11.26 18.38 15.08  8.22 10.7   9.8   5.65
  7.13 10.91 11.36  7.89 10.92 11.44  7.16 17.37 12.17 19.41  6.97 12.
 18.11  9.6  11.59 14.9  19.22 15.31 12.38 12.91  7.41 11.42  6.55  9.72
 18.27  6.01  9.57 13.82  5.32  7.46 17.22  8.15  9.56 18.09  7.01 12.58
 13.49 18.15  7.43  5.42 10.62 19.72 12.79  5.16 11.65 19.69 17.27 14.88
  8.49  7.71 13.7  17.98 13.06 11.79 19.12  6.17 15.95 10.89  9.22 17.76
 13.28 11.29 19.04 10.07  6.53  9.82  8.64  7.77  7.4  11.41  5.66  5.71
 13.68 18.29  6.31 13.15 16.23 14.53 11.25 11.11 18.98 18.47 18.5  15.74
 18.2  17.94 16.51  9.97  6.85 14.04  6.37 18.66  7.78  6.16  6.92 15.12
 16.86 18.76  6.68 11.69 19.28 16.04  6.08 12.64 16.82  9.18 15.3  13.84
 13.86 14.23  6.09 19.98 11.1  12.63 10.18 10.16  6.03  6.06  9.21  5.09
  8.39  8.59  9.98  7.58  5.69 16.61 18.89 19.81 14.5  16.41  7.32 10.81
 13.95  9.55 13.87 10.96  6.45 13.79 16.42  7.99 16.62  6.   16.34  5.07
  7.5  15.78 15.92 11.09 18.6  16.45 19.62  8.87 16.58 14.7  11.4  19.08
  5.56  5.73  7.11 18.61 13.77 14.78 13.6  15.5  16.96 11.66 11.24  6.27
 16.09  8.24 17.91 18.88  7.22  5.05 19.84 16.28 17.36  9.59 16.11  9.48
 18.44  8.43  7.38  8.97 11.64 15.13 11.21  5.18  7.93 10.41  9.45  9.01
 11.12 19.89 18.55 11.89 14.12  7.56 11.39 10.49 17.92 12.36 19.1  10.03
  5.    9.92 18.32  8.82 16.84  8.25 14.61 15.94 16.49  6.66 11.04 11.98
  5.93 19.43  8.23 18.58 13.16  8.51 10.82 17.62  9.07 11.27  6.9   7.31
 15.29 12.68 19.54 17.82 10.01 18.99  8.36 15.   16.05 12.3  12.03 11.56
 17.43 13.57 10.21 18.75 16.7  14.67 18.   10.04 10.23  8.56 10.52  9.19
 19.58 15.61 13.78 15.68 14.86 13.34  5.02 18.56 14.22 13.85 18.37 19.63
  5.64 15.14 14.02 17.9  13.02  6.25  9.94 10.36  8.45 19.07  8.76  6.43
 19.19 11.17 10.65 14.36 11.92 13.43 16.2   7.21  9.87 13.33 19.2  17.61
 17.66 14.45 19.17 18.63  5.26 15.69  8.58 11.95  7.86 12.67 16.31 18.24
 11.88  5.53  8.01 19.24  7.    6.94  6.62 19.87 10.09  6.22  7.66  5.82
 18.4  15.36 16.88 19.94 10.32  7.33  6.41 12.86 13.13 17.21  7.81  5.44
 15.79  5.72  9.69 19.31 10.99 16.12  8.71 12.26 19.34 18.81 14.91  5.6
  5.25 15.22 15.57  8.03 16.68 12.44  6.39 11.72 14.27 15.91 16.01 19.44
  7.34 13.21 11.03 10.43 12.71 12.55 17.23 19.53 18.62 14.71 12.46  8.84
 13.46 19.39  5.13  6.23 16.92 15.8   8.53  7.57  5.29 11.22 15.59 13.94
 16.32 18.06  8.96 17.16 18.42 11.28  6.91 17.18 18.23 19.02 16.67  5.24
 10.39 19.79  7.26 18.72  9.99  6.63  7.76  6.24  5.86  5.35 13.72 13.1
 13.54 17.93  5.79  8.99 17.59 13.51 19.15 16.78  9.26 13.09  6.58 12.21
  6.4  15.49  6.95 12.95  7.42 15.21 19.8  13.14  5.81  7.98 19.83 16.14
  9.   14.   14.68 17.33 17.84 17.69 17.96 11.14  6.54  9.15 10.13 10.57
 14.19  5.7  18.21 12.84 18.07 14.29 11.52 15.77 13.08 13.29 13.44 14.98
  8.65 14.84 12.33 19.55  5.22 14.62 15.99 13.04 18.45 15.02  8.27  8.66
 15.03  7.25 14.75 14.99 17.3   6.47  6.57 13.9  19.71 11.49 13.74 15.23
 15.07 15.98 14.13 17.67 15.62 12.62 12.92  7.17 18.79 17.54 12.94 14.11
  7.09 18.84 10.06 19.16 19.13 13.    6.14 14.83 15.97 12.48 10.86 16.95
 18.95 10.77 10.   12.35 17.34 12.06 14.07 19.49 15.51  9.77 15.64 12.77
 14.76 11.71  9.5   5.36 19.93 19.92 14.16  7.52  6.73  5.19  9.28 14.34
 17.13 13.55 13.3  18.83  5.45 12.96 11.   13.22 17.75 15.53 13.92 13.73
  8.48 11.33 10.9  19.37  8.28 10.84 12.78 12.81 18.19 16.36 14.85 11.73
 18.22  8.33  6.86  8.05 11.68 13.18 17.63  7.48  6.7   8.31 19.61 10.58
 19.38 14.77 16.66  8.19  5.43 13.53  6.88  8.08 16.71 14.38 11.82 11.78
 17.46 10.5  16.44 13.93 14.49 15.88 15.11 11.23 15.38 13.4   7.7  15.44
  8.74 18.3  10.14  6.42 18.18  5.62 19.97  6.28  9.3  18.71 14.28 14.73
  6.44 11.05  6.76  7.84 15.28  8.79  8.85  9.76  6.18  9.46  6.6  19.59
 14.32  6.74 14.97  7.55 18.31 16.39 18.77 11.55 15.27  6.75  5.83  9.42
  6.26 19.25 18.17  5.94  9.06 16.25  9.52 12.85  5.14  6.78 12.25 11.5
 16.07 18.96  5.98 14.24 17.65  6.67  8.26 18.94 19.78 14.25 12.69 15.85
 19.01  9.83  5.17 15.04 18.49  7.67  5.76 16.29 16.99 17.15  5.84  7.61
 15.16 15.58  5.57 14.35 10.22 12.89  9.09 19.66  5.41  7.74 17.38  6.96
  6.21  7.02 11.06 10.05 19.76 16.93 17.44 12.14 17.09  6.46 14.74 10.69
  8.2   9.04  8.68 11.76 15.81 16.   10.46  8.3  19.42  5.92  9.31  5.55
 19.36  7.05 12.54 18.67 12.43 19.03 18.92 12.27 14.64  6.36  9.79  9.91
  8.06  5.88 18.74 19.05 11.99  7.3  12.37  9.71 19.    7.63 15.46  8.88
  5.87 11.97  9.43  5.97  5.11 11.7  17.32  7.14 19.35  7.53]

Frequency counts for column  Shipping Fee :
{10.03: 5, 9.26: 5, 6.55: 4, 13.94: 4, 18.38: 4, 19.39: 4, 11.24: 4, 12.3: 4, 19.41: 4, 11.39: 4, 16.34: 3, 13.82: 3, 14.86: 3, 9.01: 3, 6.08: 3, 12.79: 3, 5.6: 3, 7.52: 3, 10.39: 3, 14.91: 3, 12.26: 3, 17.21: 3, 10.84: 3, 11.88: 3, 6.85: 3, 9.87: 3, 10.65: 3, 6.43: 3, 19.07: 3, 16.23: 3, 7.41: 3, 14.23: 3, 12.94: 3, 5.79: 3, 13.08: 3, 12.22: 3, 6.45: 3, 15.78: 3, 15.92: 3, 9.55: 3, 10.81: 3, 5.65: 3, 7.32: 3, 14.5: 3, 10.92: 3, 12.0: 3, 19.63: 3, 13.72: 3, 9.45: 2, 8.56: 2, 9.06: 2, 11.09: 2, 18.3: 2, 18.88: 2, 10.21: 2, 11.23: 2, 10.23: 2, 18.44: 2, 19.54: 2, 14.49: 2, 17.36: 2, 19.58: 2, 16.28: 2, 19.84: 2, 15.61: 2, 16.44: 2, 7.22: 2, 18.99: 2, 7.31: 2, 8.24: 2, 6.26: 2, 14.12: 2, 15.5: 2, 10.49: 2, 14.97: 2, 5.56: 2, 11.4: 2, 8.87: 2, 9.92: 2, 19.62: 2, 14.28: 2, 11.21: 2, 15.85: 2, 5.05: 2, 16.49: 2, 19.43: 2, 8.51: 2, 7.38: 2, 9.07: 2, 6.18: 2, 12.55: 2, 18.37: 2, 13.9: 2, 7.57: 2, 5.29: 2, 15.97: 2, 6.14: 2, 11.28: 2, 17.18: 2, 14.11: 2, 5.24: 2, 9.99: 2, 12.92: 2, 17.93: 2, 13.51: 2, 12.21: 2, 15.8: 2, 17.3: 2, 7.25: 2, 8.27: 2, 13.04: 2, 14.0: 2, 14.68: 2, 17.84: 2, 11.14: 2, 10.13: 2, 8.65: 2, 13.29: 2, 12.84: 2, 8.53: 2, 12.06: 2, 15.14: 2, 10.09: 2, 10.36: 2, 19.19: 2, 6.7: 2, 8.05: 2, 19.17: 2, 18.63: 2, 15.69: 2, 16.62: 2, 11.95: 2, 16.31: 2, 8.28: 2, 19.87: 2, 6.22: 2, 19.53: 2, 13.13: 2, 18.83: 2, 15.79: 2, 13.3: 2, 9.69: 2, 15.22: 2, 14.16: 2, 12.44: 2, 7.34: 2, 9.77: 2, 6.93: 2, 17.23: 2, 8.58: 2, 6.66: 2, 13.49: 2, 6.92: 2, 6.06: 2, 5.57: 2, 15.12: 2, 10.62: 2, 12.17: 2, 17.94: 2, 12.63: 2, 13.68: 2, 13.7: 2, 18.29: 2, 19.98: 2, 7.71: 2, 9.6: 2, 13.86: 2, 13.84: 2, 9.57: 2, 19.72: 2, 9.18: 2, 16.82: 2, 14.88: 2, 19.22: 2, 14.53: 2, 5.41: 2, 19.03: 2, 19.69: 2, 11.65: 2, 12.38: 2, 18.27: 2, 9.04: 2, 7.16: 2, 19.12: 2, 5.88: 2, 9.97: 2, 10.89: 2, 13.79: 2, 5.4: 2, 11.26: 2, 13.87: 2, 13.95: 2, 13.28: 2, 6.17: 2, 11.29: 2, 7.01: 2, 19.04: 2, 16.61: 2, 8.15: 2, 5.69: 2, 10.07: 2, 9.72: 2, 11.36: 2, 9.82: 2, 7.13: 2, 19.42: 2, 8.64: 2, 7.77: 2, 16.42: 2, 7.58: 2, 19.93: 1, 12.27: 1, 15.51: 1, 6.36: 1, 12.77: 1, 14.07: 1, 14.64: 1, 19.49: 1, 5.36: 1, 9.5: 1, 11.71: 1, 14.76: 1, 15.64: 1, 15.04: 1, 19.92: 1, 12.96: 1, 19.36: 1, 10.9: 1, 11.33: 1, 8.48: 1, 13.73: 1, 13.92: 1, 15.53: 1, 17.75: 1, 13.22: 1, 11.0: 1, 7.05: 1, 18.92: 1, 5.45: 1, 12.54: 1, 18.67: 1, 9.79: 1, 17.13: 1, 14.34: 1, 9.28: 1, 12.43: 1, 5.19: 1, 6.73: 1, 13.55: 1, 19.05: 1, 17.34: 1, 15.02: 1, 15.46: 1, 13.74: 1, 11.49: 1, 8.88: 1, 19.71: 1, 5.87: 1, 6.57: 1, 6.47: 1, 14.99: 1, 14.75: 1, 11.97: 1, 15.03: 1, 8.66: 1, 9.43: 1, 18.45: 1, 12.35: 1, 15.99: 1, 5.97: 1, 14.62: 1, 5.11: 1, 5.22: 1, 19.55: 1, 11.7: 1, 12.33: 1, 14.84: 1, 17.32: 1, 7.14: 1, 14.98: 1, 13.44: 1, 19.35: 1, 15.23: 1, 15.07: 1, 7.63: 1, 15.98: 1, 10.0: 1, 10.77: 1, 18.95: 1, 16.95: 1, 10.86: 1, 9.91: 1, 8.06: 1, 12.48: 1, 18.74: 1, 5.55: 1, 14.83: 1, 13.0: 1, 19.13: 1, 19.16: 1, 11.99: 1, 10.06: 1, 18.84: 1, 7.09: 1, 7.3: 1, 12.37: 1, 17.54: 1, 18.79: 1, 9.71: 1, 7.17: 1, 12.62: 1, 15.62: 1, 17.67: 1, 19.0: 1, 14.13: 1, 19.37: 1, 6.86: 1, 9.31: 1, 19.66: 1, 5.94: 1, 18.17: 1, 19.25: 1, 12.89: 1, 9.42: 1, 5.83: 1, 6.75: 1, 15.27: 1, 11.55: 1, 18.77: 1, 9.09: 1, 16.39: 1, 18.31: 1, 7.55: 1, 6.74: 1, 11.05: 1, 7.74: 1, 14.32: 1, 19.59: 1, 6.6: 1, 9.46: 1, 17.38: 1, 9.76: 1, 6.96: 1, 11.52: 1, 8.85: 1, 8.79: 1, 15.28: 1, 6.21: 1, 7.84: 1, 10.22: 1, 14.35: 1, 16.25: 1, 9.52: 1, 5.17: 1, 9.83: 1, 19.01: 1, 18.49: 1, 7.67: 1, 12.69: 1, 5.76: 1, 16.29: 1, 14.25: 1, 19.78: 1, 18.94: 1, 8.26: 1, 6.67: 1, 17.65: 1, 14.24: 1, 5.98: 1, 18.96: 1, 16.07: 1, 11.5: 1, 16.99: 1, 12.25: 1, 6.78: 1, 17.15: 1, 5.14: 1, 5.84: 1, 7.61: 1, 15.16: 1, 15.58: 1, 12.85: 1, 6.76: 1, 7.02: 1, 12.78: 1, 10.46: 1, 16.71: 1, 8.68: 1, 8.08: 1, 11.76: 1, 6.88: 1, 13.53: 1, 5.43: 1, 8.19: 1, 16.66: 1, 15.81: 1, 14.77: 1, 19.38: 1, 16.0: 1, 10.58: 1, 19.61: 1, 6.44: 1, 8.31: 1, 8.3: 1, 7.48: 1, 17.63: 1, 13.18: 1, 11.68: 1, 8.33: 1, 18.22: 1, 5.92: 1, 11.73: 1, 14.85: 1, 16.36: 1, 18.19: 1, 12.81: 1, 14.38: 1, 11.82: 1, 11.78: 1, 17.46: 1, 14.73: 1, 18.71: 1, 11.06: 1, 9.3: 1, 6.28: 1, 10.05: 1, 19.97: 1, 5.62: 1, 19.76: 1, 18.18: 1, 6.42: 1, 10.14: 1, 16.93: 1, 17.44: 1, 8.74: 1, 15.44: 1, 7.7: 1, 13.4: 1, 15.38: 1, 12.14: 1, 15.11: 1, 15.88: 1, 17.09: 1, 6.46: 1, 13.93: 1, 14.74: 1, 10.69: 1, 8.2: 1, 10.5: 1, 15.77: 1, 13.31: 1, 14.29: 1, 11.66: 1, 7.11: 1, 18.61: 1, 13.77: 1, 14.78: 1, 13.6: 1, 16.96: 1, 6.27: 1, 11.64: 1, 16.09: 1, 17.91: 1, 9.59: 1, 16.11: 1, 9.48: 1, 8.43: 1, 5.73: 1, 19.08: 1, 14.7: 1, 16.58: 1, 16.45: 1, 18.6: 1, 7.5: 1, 5.07: 1, 6.0: 1, 7.99: 1, 10.96: 1, 16.41: 1, 19.81: 1, 18.89: 1, 9.98: 1, 8.59: 1, 8.39: 1, 8.97: 1, 15.13: 1, 9.21: 1, 10.82: 1, 11.04: 1, 11.98: 1, 5.93: 1, 8.23: 1, 18.58: 1, 13.16: 1, 17.62: 1, 5.18: 1, 11.27: 1, 6.9: 1, 15.29: 1, 12.68: 1, 17.82: 1, 10.01: 1, 15.94: 1, 14.61: 1, 8.25: 1, 16.84: 1, 8.82: 1, 18.32: 1, 5.0: 1, 19.1: 1, 12.36: 1, 17.92: 1, 7.56: 1, 11.89: 1, 18.55: 1, 19.89: 1, 11.12: 1, 10.41: 1, 7.93: 1, 5.09: 1, 6.03: 1, 15.0: 1, 18.15: 1, 5.32: 1, 7.46: 1, 17.22: 1, 9.56: 1, 18.09: 1, 12.58: 1, 7.43: 1, 15.95: 1, 5.42: 1, 5.16: 1, 17.27: 1, 8.49: 1, 17.98: 1, 13.06: 1, 6.01: 1, 11.42: 1, 12.91: 1, 15.31: 1, 14.9: 1, 11.59: 1, 18.11: 1, 6.97: 1, 17.37: 1, 11.44: 1, 7.89: 1, 10.91: 1, 9.8: 1, 10.7: 1, 8.22: 1, 15.08: 1, 11.31: 1, 11.79: 1, 9.22: 1, 10.16: 1, 11.69: 1, 18.66: 1, 7.78: 1, 6.16: 1, 16.86: 1, 18.76: 1, 6.68: 1, 19.28: 1, 17.76: 1, 16.04: 1, 12.64: 1, 15.3: 1, 6.09: 1, 11.1: 1, 10.18: 1, 6.37: 1, 14.04: 1, 16.51: 1, 18.2: 1, 15.74: 1, 18.5: 1, 18.47: 1, 18.98: 1, 11.11: 1, 11.25: 1, 13.15: 1, 6.31: 1, 5.71: 1, 5.66: 1, 11.41: 1, 7.4: 1, 6.53: 1, 8.36: 1, 16.05: 1, 18.07: 1, 18.42: 1, 11.22: 1, 15.59: 1, 16.32: 1, 18.06: 1, 8.96: 1, 17.16: 1, 6.91: 1, 7.76: 1, 18.23: 1, 19.02: 1, 16.67: 1, 19.79: 1, 7.26: 1, 18.72: 1, 16.92: 1, 6.23: 1, 5.13: 1, 13.46: 1, 8.84: 1, 12.46: 1, 14.71: 1, 18.62: 1, 12.71: 1, 10.43: 1, 11.03: 1, 13.21: 1, 19.44: 1, 16.01: 1, 15.91: 1, 14.27: 1, 11.72: 1, 6.63: 1, 6.24: 1, 16.68: 1, 17.69: 1, 5.81: 1, 7.98: 1, 19.83: 1, 16.14: 1, 9.0: 1, 17.33: 1, 17.96: 1, 5.86: 1, 6.54: 1, 9.15: 1, 10.57: 1, 14.19: 1, 5.7: 1, 18.21: 1, 13.14: 1, 19.8: 1, 15.21: 1, 7.42: 1, 12.95: 1, 6.95: 1, 15.49: 1, 6.4: 1, 6.58: 1, 13.09: 1, 16.78: 1, 19.15: 1, 17.59: 1, 8.99: 1, 13.54: 1, 13.1: 1, 5.35: 1, 6.39: 1, 8.03: 1, 12.03: 1, 8.45: 1, 5.64: 1, 14.02: 1, 17.9: 1, 13.02: 1, 6.25: 1, 9.94: 1, 8.76: 1, 19.2: 1, 11.17: 1, 14.36: 1, 11.92: 1, 13.43: 1, 16.2: 1, 7.21: 1, 13.85: 1, 14.22: 1, 18.56: 1, 5.02: 1, 13.34: 1, 15.68: 1, 13.78: 1, 9.19: 1, 10.52: 1, 10.04: 1, 18.0: 1, 14.67: 1, 16.7: 1, 18.75: 1, 13.57: 1, 17.43: 1, 11.56: 1, 13.33: 1, 17.61: 1, 15.57: 1, 5.72: 1, 10.32: 1, 7.33: 1, 6.41: 1, 12.86: 1, 7.81: 1, 5.44: 1, 19.31: 1, 17.66: 1, 10.99: 1, 16.12: 1, 8.71: 1, 19.34: 1, 18.81: 1, 5.25: 1, 19.94: 1, 16.88: 1, 15.36: 1, 18.4: 1, 5.82: 1, 7.66: 1, 6.62: 1, 6.94: 1, 7.0: 1, 19.24: 1, 8.01: 1, 5.53: 1, 18.24: 1, 12.67: 1, 7.86: 1, 5.26: 1, 14.45: 1, 7.53: 1}

Mode of the Shipping Fee is [9.26, 10.03]


Unique values in column  Shipping Status  :  ['Returned' 'In Transit' 'Delivered' 0]

Frequency counts for column  Shipping Status :
{'In Transit': 329, 'Delivered': 313, 'Returned': 308}

Mode of the Shipping Status is ['In Transit']


Unique values in column  Order Date  :  ['2023-12-08' '2023-04-09' '2023-08-28' '2023-01-18' '2023-01-19'
 '2023-01-11' '2023-10-23' '2023-06-15' '2023-02-25' '2023-04-23'
 '2023-06-01' '2023-09-13' '2023-02-17' '2023-12-10' '2023-06-29'
 '2023-07-14' '2023-05-13' '2023-06-09' '2023-06-21' '2023-11-26'
 '2023-11-08' '2023-12-27' '2023-06-06' '2023-10-28' '2023-12-30'
 '2023-12-04' '2023-02-01' '2023-08-14' '2023-12-07' '2023-06-28'
 '2023-11-17' '2023-01-25' '2023-09-05' '2023-09-17' '2023-12-25'
 '2023-01-14' '2023-08-01' '2023-02-12' '2023-05-18' '2023-10-03'
 '2023-08-30' '2023-09-15' '2023-02-14' '2023-02-27' '2023-08-13'
 '2023-05-09' '2023-12-23' '2023-09-01' '2023-04-16' '2023-12-13'
 '2023-03-27' '2023-11-16' '2023-06-14' '2023-01-26' '2023-09-29'
 '2023-03-14' '2023-12-14' '2023-08-08' '2023-04-12' '2023-02-21'
 '2023-11-03' '2023-01-16' '2024-01-03' '2023-02-05' '2023-02-07'
 '2023-04-03' '2023-07-25' '2023-10-01' '2023-03-19' '2023-10-05'
 '2023-04-11' '2023-09-11' '2023-03-16' '2023-11-21' '2023-12-03'
 '2023-02-08' '2023-12-22' '2023-10-24' '2023-08-20' '2023-05-20'
 '2023-02-18' '2023-08-02' '2023-04-19' '2023-03-08' '2023-07-04'
 '2023-03-24' '2023-02-02' '2023-05-23' '2023-08-12' '2023-01-24'
 '2023-09-14' '2023-11-12' '2023-05-06' '2023-01-03' '2023-10-12'
 '2023-06-26' '2023-05-26' '2023-07-06' '2023-06-20' '2023-02-11'
 '2023-03-22' '2023-09-10' '2023-02-22' '2023-10-10' '2023-05-29'
 '2023-08-22' '2023-05-10' '2023-11-06' '2023-02-06' '2023-11-18'
 '2023-01-13' '2023-04-21' '2023-06-04' '2023-09-26' '2023-11-23'
 '2023-05-03' '2023-08-27' '2023-05-15' '2023-05-16' '2023-03-18'
 '2023-09-19' '2023-09-25' '2023-05-07' '2023-01-05' '2023-11-07'
 '2023-06-24' '2023-03-04' '2023-07-19' '2023-04-24' '2023-05-01'
 '2023-07-21' '2023-10-11' '2023-08-16' '2023-04-14' '2023-12-06'
 '2023-08-31' '2023-09-02' '2023-04-06' '2023-12-29' '2023-10-21'
 '2023-10-09' '2023-05-27' '2023-03-12' '2023-06-18' '2023-11-24'
 '2023-08-05' '2023-01-23' '2023-06-22' '2023-04-18' '2023-01-28'
 '2023-05-08' '2023-06-07' '2023-02-24' '2023-02-16' '2023-08-07'
 '2023-04-04' '2023-09-28' '2023-08-21' '2023-03-13' '2023-02-28'
 '2023-07-26' '2023-07-02' '2023-10-17' '2023-10-18' '2023-07-20'
 '2023-04-08' '2023-01-08' '2023-08-15' '2023-09-18' '2023-02-15'
 '2023-11-28' '2023-07-29' '2023-07-10' '2023-10-25' '2023-06-12'
 '2023-07-22' '2023-06-25' '2023-11-29' '2023-05-17' '2023-09-23'
 '2023-02-19' '2023-11-05' '2023-01-15' '2023-05-11' '2023-03-17'
 '2023-10-16' '2023-07-17' '2023-06-30' '2023-07-09' '2023-01-17'
 '2023-01-10' '2023-03-25' '2023-01-29' '2023-09-16' '2023-03-21'
 '2023-12-01' '2023-01-27' '2023-09-04' '2023-09-24' '2023-09-08'
 '2023-03-15' '2023-06-08' '2023-07-23' '2023-10-08' '2023-05-25'
 '2023-04-28' '2023-11-01' '2023-08-03' '2023-03-03' '2023-10-31'
 '2023-08-11' '2023-11-25' '2023-10-20' '2023-11-27' '2023-10-22'
 '2023-02-10' '2023-05-21' '2023-06-17' '2023-03-30' '2023-10-07'
 '2023-11-02' '2023-09-21' '2023-08-23' '2023-08-06' '2023-01-01'
 '2023-10-02' '2023-04-29' '2023-07-24' '2023-02-13' '2023-06-23'
 '2023-07-28' '2023-10-30' '2023-11-10' '2023-06-03' '2023-10-06'
 '2023-05-02' '2023-11-20' '2023-08-10' '2023-04-05' '2023-07-05'
 '2023-01-20' '2023-02-03' '2023-11-22' '2023-04-26' '2023-04-10'
 '2023-03-07' '2023-01-02' '2023-10-19' '2023-04-25' '2023-06-11'
 '2023-09-30' '2023-08-18' '2023-04-07' '2023-05-24' '2023-02-09'
 '2023-03-02' '2023-03-09' '2023-01-07' '2023-12-16' '2023-09-12'
 '2023-12-21' '2023-06-05' '2023-07-12' '2023-09-22' '2023-11-15'
 '2023-12-26' '2023-11-11' '2023-03-11' '2023-12-12' '2023-01-22'
 '2023-12-31' '2023-09-09' '2023-04-15' '2023-10-26' '2023-07-16'
 '2023-01-04' '2023-07-15' '2023-05-22' '2023-12-17' '2023-11-04'
 '2023-11-13' '2023-03-20' '2023-12-18' '2023-01-09' '2023-05-05'
 '2023-04-20' '2023-12-19' '2023-07-03' '2023-10-15' '2023-06-10'
 '2023-09-03' '2023-04-02' '2023-09-06' '2023-11-09' '2023-02-23'
 '2023-06-02' '2023-01-31' '2023-05-04' '2023-11-14' '2023-02-20'
 '2023-04-13' '2023-03-06' '2023-03-31' '2023-12-09' '2023-07-30'
 '2023-07-13' '2023-05-28' '2023-01-12' '2023-08-17' '2023-12-02'
 '2023-03-05' '2023-01-21' '2023-08-19' '2023-05-30' '2023-06-13'
 '2023-12-28' '2023-09-27' '2023-03-10' '2023-06-27' '2023-10-27'
 '2023-07-18' '2023-05-12' '2023-04-27' '2023-07-31' '2023-02-26'
 '2023-07-08' '2023-01-06' '2023-07-01' '2023-01-30' '2023-08-24'
 '2023-05-14' '2023-11-30' '2023-03-28' '2023-12-24' '2023-11-19'
 '2023-06-16' '2023-03-26' '2023-07-11' '2023-08-26' '2023-04-01']

Frequency counts for column  Order Date :

#### Printing the Median of Numerical Columns.

In [23]:
columnnames = list(renamed_data.columns)

for column in columnnames:
    
    if renamed_data[column].dtype in ['int64', 'float64']:
        
        column_median = renamed_data[column].median()
        
        print("Median of the" , column,  "is", column_median , "\n")

Median of the Age is 49.0

Median of the Unit Price is 200.0

Median of the Quantity is 3.0

Median of the Total Price is 600.0

Median of the Shipping Fee is 12.315000000000001